<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>697519346482-smtkdekivv716ji1f93knuafa003aa7b.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.697519346482-smtkdekivv716ji1f93knuafa003aa7b</string>
	<key>API_KEY</key>
	<string>AIzaSyDBhD9tzztFGsjXADzUC0PgyWvL-ZwQEko</string>
	<key>GCM_SENDER_ID</key>
	<string>697519346482</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.jose.ahava</string>
	<key>PROJECT_ID</key>
	<string>ahava-4eea9</string>
	<key>STORAGE_BUCKET</key>
	<string>ahava-4eea9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:697519346482:ios:b8d0f286a44f3a8e3c7d2b</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Solicitamos su permiso para que otros usuarios puedan conocer tu ubicación y te puedan donar sangre exitosamente.</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>Solicitamos su permiso para que puedas personalizar tu perfil, y puedas publicar fotos a tu campaña.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Solicitamos su permiso para que puedas personalizar tu perfil, y puedas publicar fotos a tu campaña.</string>
</dict>
</plist>